.list-rides {
  background-color: var(--blue-color);
  filter: brightness(108%);
  width: 100%;
  border-radius: 8px;
  overflow: auto;
  border: 7px solid var(--blue-color);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  column-gap: 10px;
  row-gap: 3px;
}
